<div class="chapter">
    <h2>Binding</h2>
    <h3>One Way :</h3>
    <p>Contenus de ma variable message : </p>

    <!-- {{}} permet d'afficher la valeur d'une prop ts -->
    <p>{{message}}</p>
    <h3>Two way : </h3>

    <!-- [(ngModel)] permet d'affecter une input a une variable ts -->
    <input type="text" [(ngModel)]="input" />
    <p>Valuer de mon input : {{input}}</p>
</div>
<div class="chapter">
    <h2>Event binding</h2>

    <!-- (event) permet d'affecter une methode a un element -->
    <button (click)="changeState('null')">Null!</button>
    <button (click)="changeState('middle')">Middle!</button>
    <button (click)="changeState('bon')">Bon!</button>
    <p>Aujourd'hui je suis vraiment {{etat}}</p>
</div>
<div class="chapter">
    <h2>Attribute binding</h2>
    <h3 [ngClass]="{'jour':isActive,'nuit': !isActive}">{{jacquouille}}</h3>
    <button (click)="toggleIsActive()">Toggle</button>
    <button [disabled]="isActive">Test</button>
</div>