<nav>
    <ul>
        <li *ngFor="let link of links" (mouseleave)="clearLink()">
            <a *ngIf="link.url" [routerLink]="link.url">{{link.title}}</a>
            <a *ngIf="!link.url" (mouseover)="toggleLink(link)" [ngClass]="{active: link.isVisible}">{{link.title}}</a>
            <ul *ngIf="link.children && link.isVisible" class="dropDown">
                <li *ngFor="let child of link.children">
                    <a [routerLink]="child.url">{{child.title}}</a>
                </li>
            </ul>
        </li>
        <li>
            {{currentUser}}
        </li>
    </ul>
</nav>