:host {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.child {
    color: purple;
    background-color: chartreuse;
    border: 2px solid purple;
    width: 93%;

    ul li {
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: space-between;
    }
}