/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
}

.chapter {
    background-color: coral;
    width: fit-content;
    padding: 10px;
    margin: 10px auto;
}

.chapter h2 {
    background-color: purple;
    color: chartreuse;
}

button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: purple;
    color: chartreuse;
}

button:hover {
    background-color: chartreuse;
    color: purple;
}

button:disabled {
    background-color: lightgrey;
    color: gray;
}