/* You can add global styles to this file, and also import other style files */

*{font-family: sans-serif;}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
}

.chapter {
    background-color: coral;
    width: fit-content;
    margin: 10px auto;
    border: 10px solid chartreuse;
    border-radius: 10px;

    input,
    textarea {
        background-color: yellow;
    }

    h2 {
        background-color: purple;
        color: chartreuse;
    }

    .child {
        color: purple;
        background-color: salmon;
        border: 5px solid purple;
        width: 93%;
        margin: 10px;

        ul li {
            display: flex;
            height: fit-content;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.chapter:hover {
    background-color: cyan;
    width: fit-content;
    margin: 10px auto;
    border: 10px solid purple;

    input,
    textarea {
        background-color: blue;
        color: chartreuse;
    }

    h2 {
        background-color: chartreuse;
        color: purple;
    }

    .child {
        color: chartreuse;
        background-color: purple;
        border: 5px solid chartreuse;
        width: 93%;

        ul li {
            display: flex;
            height: fit-content;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: chartreuse;
                color: purple;
            }

            button:hover {
                background-color: salmon;
                color: chartreuse;
            }
        }
    }
}

button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: purple;
    color: chartreuse;
    border-radius: 5px;
}

button:hover {
    background-color: violet;
    color: greenyellow;
}

button:disabled {
    background-color: lightgrey;
    color: gray;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

ul {
    list-style-type: none;
    padding: 5px;

    li {
        padding: 5px;
    }
}

a:hover {
    color: red !important;
}

.error {
    color: red !important;
}
